.hero{
  &__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 0 20px;
  }

  &__bottom-buttons {
    display: flex;
    justify-content: center;
  }

}

