.preview {
  padding-top: 140px;
  padding-bottom: 200px;
  background: url("~images/content/preview-bg.jpg") center top / cover no-repeat;
  &-title.section-title {
    color: #FFFFFF;
    margin-right: 116px;
  }
}