.values {
  padding-top: 144px;
  position: relative;
  background: url('~images/content/bg-widget.jpg') center center / cover no-repeat;
  
  &__right {
    width: 60%;
  }

  &__title-text {
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
  }

  &__content {
    padding-bottom: 93px;
    font-weight: 600;
    line-height: 30px;
    color: rgba($text-color, .8);
  }
}