.values-container {
  padding-right: 60px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  &::before {
    content: url('~images/content/handlers.png');
    position: absolute;
    display: block;
    width: 490px;
    height: 728px;
    width: 40%;
    left: 2%;
    top: 24%;
  }
}